<div>
  <div class="jumbotron m-4">
    <div class="container">
      <% if @user.image.attached? %>
        <p>
          <%= image_tag @user.image.variant(resize: "400"), class: "mx-auto d-block rounded" %>
        </p>
      <% end %>
      <h1 class="display-4 text-center">Welcome, <%= @user.first_name %></h1>
      <p class="lead text-center">Behind everything we do, there are people like you who make it happen.  When you give, advocate and volunteer you become a powerful agent of change– helping to improve the odds for children and families throughout our community.  And, there’s no shortage of ways to get involved.
        <br><b>Join us and LIVE UNITED.</b></p>
    </div>
      <div class="text-center">
        <% if current_user.id == @user.id %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary btn-rounded btn-sm" %>
        <% end %>
      </div>
  </div>
  <div class="p-3 mb-2 text-white text-center m-4" style="background-color: #000064">
    <h2 class="serif-font">Badges</h2>
    <div class="row ml-0 text-center">
      <ul>
        <% current_user.badges.each do |badge| %>
          <%= image_tag badge.custom_fields[:image], :alt => badge.description, :height =>"100" %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if @my_events.any? %>
    <%= render 'shared/upcoming_events', events: @my_events, title: "Registered" %>
  <% end %>
  <!-- Upcoming Events -->
  <div>
    <div class="p-3 mb-2 text-white text-center m-4" style="background-color: #000064">
      <%= render 'shared/upcoming_events', events: @events, title: "Upcoming", class: "d-flex justify-content-center" %>
    </div>
  </div>
</div>
