<div class="container">
  <div>
    <div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <% if @user.image.attached? %>
            <p>
              <%= image_tag @user.image.variant(resize: "400"), class: "mx-auto d-block rounded" %>
            </p>
          <% end %>
          <h1 class="display-4">Welcome, <%= @user.first_name %></h1>
          <p class="lead">Behind everything we do, there are people like you who make it happen.  When you give, advocate and volunteer, you become a powerful agent of change– helping to improve the odds for children and families throughout our community.  And, there’s no shortage of ways to get involved. Join us and LIVE UNITED.</p>
        </div>
        <% if current_user.id == @user.id %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary btn-rounded btn-sm" %>
        <% end %>
      </div>
      <div class="p-3 mb-2 text-white text-center" style="background-color: #003087">
        <h2>Badges</h2>
        <span class="text-justify"></span>
        <div class="row">
          <ul>
            <% current_user.badges.each do |badge| %>
              <%#= badge.inspect %>
              <%= image_tag badge.custom_fields[:image], :alt => badge.description, :float => "left" %>
            <% end %>
          </ul>
        </div>
      </div>
      <% if @my_events.any? %>
        <%= render 'shared/upcoming_events', events: @my_events, title: "Registered" %>
      <% end %>
      <%= render 'shared/upcoming_events', events: @events, title: "Upcoming" %>
  </div>
</div>
