

  <div id="myCarousel" class="carousel slide carousel-fade full-width-carousel" data-ride="carousel">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "home/UW-strong.png", class: ["d-block", "w-100"]%>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/UW-event-2.png", class: ["d-block", "w-100"]%>
          <div class="carousel-caption d-none d-md-block">
            <%= image_tag "home/WeFightFor-You-One-Bar.png", class: ["d-block", "w-100"]%>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/UW-live-united.png", class: ["d-block", "w-100"]%>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/UW-event.png", class: ["d-block", "w-100"]%>
        </div>
        <div class="carousel-item">
          <%= image_tag "home/UW-music.png", class: ["d-block", "w-100"]%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  <section class="row text-center ml-0 vertical-align">
    <div class="col-sm-8 text-white p-4" style="background: #b41428">
        <h1>WHO WE ARE</h1>
        <p>We are on a mission to build a stronger Miami — a Miami where all children have the opportunity to learn and thrive, where families are financially secure and where people can live their lives to the fullest because they have the good health to do so — today and for generations to come.

          With you by our side, we know we can make this vision a reality. We invite you to join us in this life-changing work.</p>
    </div>
    <div class="col-sm-4 justify-div" style="background: #e6d7aa">
      <h2>
        Give an hour.<br>
        Give a day.<br>
        Give of yourself.
      </h2>
    </div>
    <div class="row ml-0">
      <div class="col-md p-4 justify-div" style="background: #e6d7aa">
        <h2>More than 90 years<br>of building a stronger Miami</h2>
      </div>
      <div class="col-md p-4 text-white" style="background: #000064;">
        <h2>IMPACT BEYOND THE NUMBERS</h2>
        <p>United Way provides services or participates in partnerships to improve our social service system in Miami Dade County and beyond. Serving as fiscal agent, advocating for our public policy priorities and supporting other institutions’ agenda items, we helped to influence an additional $51.2 million dollars in resources for our community, illustrating how our impact goes beyond the direct economic value of our work.</p>
      </div>
    </div>
  </section>

<section>
  <div class="row ml-0 mt-4 align-center">
    <h4>In Miami-Dade county:</h4>
  </div>
  <div class="row ml-0 text-center">
    <div class="col-md-4 p-4 text-white justify-div" style="background: black">
      <h2>109,780</h2>
      <h4>children go to bed hungry</h4>
    </div>
    <div class="col-md-4 p-4 text-white" style="background: black">
      <h2>58%</h2>
      <h4>of households are either in poverty or one emergency away from falling into poverty.</h4>
    </div>
    <div class="col-md-4 p-4 text-white justify-div" style="background: black">
      <h2>1 in 7</h2>
      <h4>seniors must choose between rent, food, or medication</h4>
    </div>
    <div class="row ml-0 mt-4 align-center">
      <h2>Help make a difference</h2>
      <h4>LIVEUNITED</h4>
    </div>
  </div>
</section>


  <!-- Upcoming Events -->
  <div id="home-upcoming-events ml-0">
    <div class="full-width ml-0 p-4">
    <%= render 'shared/upcoming_events', events: @events, title: "Upcoming", class: "d-flex justify-content-center" %>
    </div>
  </div>
</div>

  </body>
</html>
