<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body class="p-0 m-4">

  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 serif-font">About Us</h1>
        <div class="text-center">
          <%= image_tag "home/logo.jpg" %>
        </div>
      </div>
    </div>
    <div class="p-4 text-white justify-content-center" style="background: #b41428">
      <div class="text-center p-2">
        <h2 class="serif-font">Who We Are</h2>
      </div>
      We are on a mission to build a stronger Miami — a Miami where all
      children have the opportunity to learn and thrive, where families are financially secure and where people can live their lives to the fullest because they have the good health to do so — today and for generations to come.

      With you by our side, we know we can make this vision a reality. We invite you to join us in this life-changing work.
    </div>

    <section class="text-center" style="background: black">
      <!--YouTube Video -->
      <iframe width="760" height="515" src="https://www.youtube.com/embed/DMNCtsMhiLo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="row p-4">
      <div class="col-lg-6">
        <div class="text-center">
          <h2 class="serif-font">Mission</h2>
        </div>
        The mission of United Way of Miami-Dade is to build community by helping people care for one another.
      </div>
      <div class="col-lg-6">
        <div class="text-center">
          <h2 class="serif-font">Vision</h2>
        </div>
        We will have a caring community strengthened by its diversity and compassion. United Way will be seen as a catalyst in building the community by bringing hearts, minds and resources together.
      </div>
    </div>


        <section id="aboutUsRoundRow" class="m-0" style="background: #b41428">
           <figure class="round-img">
            <%= image_tag "home/calendar.jpg" %>
            <figcaption class="d-flex align-items-center">
              <%= link_to 'Register for Event', events_path %>
            </figcaption>
          </figure>
          <figure class="round-img">
            <%= image_tag "home/give-back.png" %>
            <figcaption class="d-flex align-items-center">
              <%= link_to 'Start A Campaign', "https://unitedwaymiami.org/get-involved/give-to-your-united-way/start-a-campaign-at-your-workplace/campaigntoolkit/" %>
            </figcaption>
          </figure>
          <figure class="round-img">
            <%= image_tag "home/uw-history.jpg" %>
            <figcaption class="d-flex align-items-center">
              <%= link_to 'Our History', "https://unitedwaymiami.org/about-united-way-of-miami-dade/more-than-90-years-of-building-a-stronger-miami/" %>
            </figcaption>
          </figure>
          <figure class="round-img">
            <%= image_tag "home/job-postings.jpg" %>
            <figcaption class="d-flex align-items-center">
              <%= link_to 'Join Our Team', "https://unitedwaymiami.org/job-postings/" %>
            </figcaption>
          </figure>
        </section>

        <div class="text-center p-4">
          <%= image_tag "about-us/UW-changing-the-odds.png" %>
        </div>


  </body>
</html>
