<%= form_for @user, url: {action: "create"} do |form| %>
    <div class="row">
      
     <div class="form-group col-md-8">
<<<<<<< HEAD
        <%= form.label :first_Name %>
=======
        <%= form.label :first_name %>
>>>>>>> 67d3ac0665ffcbb32ae72f8d588a5115ea43c1f9
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group col-md-8">
<<<<<<< HEAD
        <%= form.label :last_Name %>
=======
        <%= form.label :last_name %>
>>>>>>> 67d3ac0665ffcbb32ae72f8d588a5115ea43c1f9
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
  
      <div class="form-group col-md-4">
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group col-md-8">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group col-md-8">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
  
      <div class="form-group col-md-8">
        <%= form.label :telephone %>
        <%= form.text_field :telephone, class: "form-control" %>
      </div>

    </div>
  
    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
  <% end %>