<!DOCTYPE html>
<html>
  <head>
    <title>United Way of Miami-Dade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheet/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= javascript_pack_tag 'Calendar' %>
  </head>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./scripts.js"></script>

  <body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="background-color: #00008B;" role="navigation">
    <div class="container">
      <a class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag "home/logo.jpg", class: ["d-block", "w-25"], id: "logo"%>
        <% end %>
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"></button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="<%= root_path %>" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="../pages/about_us" class="nav-link">About Us</a></li>
          <li class="nav-item"><a href="<%= events_path %>" class="nav-link">Upcoming Events</a></li>
          <li class="nav-item"><a href="../pages/ways_to_give" class="nav-link">Ways To Give</a></li>
          <li class="nav-item"><a href="../pages/partners" class="nav-link">Partners</a></li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <span class="give-button"><button type="button" class="btn btn-danger">GIVE</button></span>
          <% if current_user %>
             <%= button_to "Logout", destroy_user_session_path, class: "btn btn-outline-secondary", method: :delete %>
           <% else %>
            <%= button_to "Login", new_session_path, class: "btn btn-outline-secondary" %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>


  <!-- Footer -->
  <footer class="page-footer font-small pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1"
            href="https://www.facebook.com/UnitedWayMiami/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1"
            href="https://twitter.com/unitedwaymiami" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1"
            href="https://www.instagram.com/unitedwaymiami/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1"
            href="https://www.linkedin.com/company/united-way-of-miami-dade/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1"
            href="https://www.snapchat.com/add/unitedwaymiami" target="_blank">
            <i class="fab fa-snapchat"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-copyright text-center py-3">©2018 UnitedWayMiami.org</a>
    </div>

  </footer>
</html>
